{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8">
            {% include('messages.html') %}
            <h2>{{ News }}</h2>
            {% for news in news_lists %}
            <h3><a href="{{ url_for('news.single_news', news_id=news.id) }}" >{{ news.title }}</a></h3>
            <p>{{ news.published.strftime('%d.%m.%Y') }}, comments: {{ news.comments_count() }}</p>
            <hr>
            {% endfor %}
        </div>
        <div class="col-4">
            <h2>Weather forecast</h2>
            {% if weather %}
                Weather in Moscow {{ weather.temp_C }}, feel like {{ weather.FeelsLikeC }}
            {% else %}
                Weather service not responding
            {% endif %}
        </div>
    </div>
{% endblock %}